---
import ProjectCard from '../ProjectCard.astro'
import Section from '../Section.astro'

const projects = [
	{
		href: 'https://github.com/KiwiDev808/url-shortener',
		heading: 'Coming soon...',
		subheading: 'URL shortener',
		imagePath: '/src/assets/coming-soon.png',
		altText: 'Coming soon...'
	}
]
---

<Section title='Projects'>
	<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
		{projects.map((project, index) => (
			<ProjectCard 
				as='a'
				href={project.href}
				heading={project.heading}
				subheading={project.subheading}
				imagePath={project.imagePath}
				altText={project.altText}
			/>))}
	</div>
</Section>
